
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<style>
.entry {
  background-color: lightblue;
}
.price_line {
  background-color: pink;
}

</style>

<h1>Your Pragmatic Catalog</h1>

<% @products.each do |product|%>
    <div class="entry">
        <%= image_tag(product.image_url) %>
        <h2><%= product.title %></h2>
        <%= sanitize(product.description) %>         
    </div>
      <div class="price_line">
            <span class="price"><%= sprintf("$%0.02f", product.price) %></span>
     </div>
<% end %>